# Ignore build output directories
build/out/
build/CMakeFiles/
build/Makefile
build/lvgl
build/FreeRTOS-Kernel

# Ignore object files
*.obj

# Other common ignores
*.o
*.elf
*.bin
*.hex
*.map
*.log
*.d
*.dep
